html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #333;
  line-height: 1;
}

body {
  margin: 0 auto;
  padding: 0.25rem;
}

h1 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.section {
  display: flex;
  margin-bottom: 0.5rem;
}

.game-column {
  flex: 1;
  text-align: center;
}

.game-header {
  display: flex;
  height: 1.7rem;
  margin: 0 0.25rem;
}

.empty {
  display: block;
  height: 1.7rem;
}

.player-score {
  display: flex;
  flex: 1;
}
.player-score.player-1 {
  justify-content: flex-end;
}
.player-score.player-2 {
  justify-content: flex-start;
}

.score,
.total {
  flex: 0 0 auto;
}

.row,
.score-container {
  box-sizing: border-box;
  display: flex;
  height: 1.9rem;
}

.row {
  flex-direction: column;
  justify-content: center;
}
.row.total {
  font-weight: bold;
}
#lower-section .row.total {
  text-transform: uppercase;
}

.score-diff {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: green;
  width: 1.3rem;
  opacity: 0;

  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
.score-diff.visible {
  opacity: 1;
}

.description {
  font-size: 0.5rem;
  padding: 0.15rem 0;
}

.label {
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-bottom: 0.05rem;
}

.dice {
  font-size: 0.5rem;
}

.die {
  width: 1rem;
  height: 1rem;
  margin: 0;
}

input {
  font-size: 1rem;
  width: 3rem;
}

input.player {
  font-size: 0.7rem;
  text-align: center;
  flex: 1 1 auto;
}
input.score, input.total {
  text-align: right;
}

.reset {
  text-align: center;
}

.button {
  display: block;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 0.75rem;
  margin: 0.5rem auto 0;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: none;
}
.button:hover {
  background-color: #222;
}
.button:active,
.button.active {
  background-color: #eee;
  color: black;
}

.scoreboard-container::after {
  content: '';
  clear: both;
  display: table;
}

.historical-data {
  font-size: 0.8rem;
  margin-top: 0.25rem;
  line-height: 1.2;
  text-align: center;
}

.historical-data-container {
  display: inline-grid;
  grid-template-columns: repeat(5, auto);
  column-gap: 0.3em;
  row-gap: 0.15rem;
  justify-items: start;
  align-items: baseline;
}

.score-info {
  display: contents;
}
.score-info__label {
  justify-self: end;
}
.score-info__score {
  justify-self: end;
  font-weight: bold;
}

.clear-score-info {
  font-size: 0.5rem;
  padding: 0.125rem 0.25rem;
  margin-top: 0;
  margin-left: 0.25rem;
  align-self: center;
}

#upper-section {
  float: left;
  width: 45%;
}

#lower-section {
  float: right;
  width: 53%;
}

.section .row:first-of-type,
.section .row:last-of-type,
.game-column .score-container:first-of-type,
.game-column .score-container:last-of-type {
  border-top: solid 1px gray;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1400px)
{
  html {
    font-size: 26px;
  }
}

@media screen and (max-width: 1300px)
{
  html {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px)
{
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 1100px)
{
  html {
    font-size: 20px;
  }
  input {
    width: 2.5rem;
  }
}

@media screen and (max-width: 1050px)
{
  html {
    font-size: 19px;
  }
}

@media screen and (max-width: 1000px)
{
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 920px)
{
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 830px)
{
  html {
    font-size: 28px;
  }
  #upper-section {
    width: 100%;
    margin-bottom: 1rem;
  }
  #lower-section {
    width: 100%;
  }
}

@media screen and (max-width: 730px)
{
  html {
    font-size: 26px;
  }
}

@media screen and (max-width: 680px)
{
  html {
    font-size: 24px;
  }
}

@media screen and (max-width: 620px)
{
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 580px)
{
  html {
    font-size: 20px;
  }
  input {
    width: 2.5rem;
  }
}

@media screen and (max-width: 500px)
{
  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px)
{
  html {
    font-size: 16px;
  }
  input {
    width: 2rem;
  }
}

@media screen and (max-width: 400px)
{
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 350px)
{
  html {
    font-size: 13px;
  }
}
