{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "global-strict": [2, "always"],
    "new-cap": [2, { "capIsNew": false }],
    "no-use-before-define": [2, "nofunc"],
    "quotes": [2, "single"]
  }
}
