<tr class="score-info {{classname}}">
  <td class="score-info__label">{{label}}</td>
  <td class="score-info__score">{{score}}</td>
  <td class="score-info__date">on {{date}}</td>
  <td class="score-info__player">by {{playerName}}</td>
</tr>
