<div class="score-info {{classname}}">
  <span class="score-info__label">{{label}}</span>
  <span class="score-info__score">{{score}}</span>
  <span class="score-info__date">on {{date}}</span>
  <span class="score-info__player">by {{playerName}}</span>
</div>
