<thead>
  <tr>
    <th></th>
    {{#playerNames}}
    <th class="game-{{gameIndex}} player-{{playerIndex}}">
      <input type="text" class="player" placeholder="Name" value="{{name}}">
    </th>
    {{/playerNames}}
  </tr>
</thead>

<tbody>
  {{#scores}}
  <tr>
    <th class="description">
      <div class="label">{{label}}</div>
      {{#dice}}
      <img class="die" title="{{label}}" src="svg/{{.}}.svg">
      {{/dice}}
    </th>
    {{#games}}
    <td class="game-{{gameIndex}} player-1">
      <span class="score-diff player-1"></span>
      <input type="number" min="0" max="{{max}}" step="{{step}}" class="score" value="{{player1}}">
    </td>
    <td class="game-{{gameIndex}} player-2">
      <input type="number" min="0" max="{{max}}" step="{{step}}" class="score" value="{{player2}}">
      <span class="score-diff player-2"></span>
    </td>
    {{/games}}
  </tr>
  {{/scores}}

  <tr class="total">
    <th>Total</th>
    {{#games}}
    <td class="player-1">
      <span class="score-diff player-1"></span>
      <input type="number" min="0" class="total" readonly>
    </td>
    <td class="player-2">
      <input type="number" min="0" class="total" readonly>
      <span class="score-diff player-2"></span>
    </td>
    {{/games}}
  </tr>
</tbody>
